<template name="examPage">
  {{#with examPage}}
    {{#each unit in examContents}}
      {{> contentByTypeWrapper content=unit.content isExamPage=true unitId=unit._id}}
    {{/each}}
    {{> examInfoBar}}
  {{/with}}
</template>

<template name="examInfoBar">
  <div class="ui bottom borderless unit sidebar {{bottomPaddingIfGoalBar}} visible">
    <div class="ui unit container">
      <div class="ui segment">
        <div class="ui basic right floated segment">
          {{#if isGodMode}}
            <a class="ui right floated button" href="/exam/{{_id}}/edit">edit</a>
          {{/if}}
        </div>
        <div class="ui unit header">{{name}}
          <div class="sub header">
            {{#each author in authorsInfo (authors)}}
              {{author.username}}
            {{/each}}
            |
            {{readableDate created_on}}
          </div>
        </div>
        <div class="ui fitted divider"></div>
        <p>{{description}}</p>
        {{#each languageName in examLanguagesNames}}
        <p class="ui tiny label">
          <i class="world icon"></i>{{languageName}}</p>
        {{/each}}
      </div>
    </div>
  </div>
</template>
<!-- <template name="examPage_materialize">
  {{#with examPage}}
    <div class="container">
      <div class="card">
        <div class="container">
          <div class="section">
            <h2>{{name}}</h2>
            {{#if isGodMode}}
              <a class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-delay="1" data-tooltip="Edit this unit." href="{{_id}}/edit">
                <i class="material-icons">create</i>
              </a>
            {{/if}}
          </div>
          {{#each unit in examContents}}
            {{> contentByTypeWrapper content=unit.content isExamPage=true unitId=unit._id}}
          {{/each}}

          <div class="section">
            {{#unless displayExamResults}}
              <p class="center-align">
                <a class="waves-effect waves-light btn" id="submit_exam">Submit Exam</a>
              </p>
            {{else}}
              <p class="center-align">
                <h4>You got
                  {{correctPercentage}}% of the answers right</h4>
                <div class="progress">
                  <div class="determinate" style="width: {{correctPercentage}}%"></div>
                </div>
                <div class="section">
                  {{> setGoalButton}}
                </div>
              </p>
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
  {{/with}}
</template> -->
