<template name="examPage">
    {{#with examPage}}
        <div class="container">
            <div class="card">
                <div class="container">
                    <div class="section">
                        <h2>{{name}}</h2>
                    </div>
                    {{#each unit in examContents}}
                        {{> contentByType content=unit.content isExamPage=true unitId=unit._id}}
                    {{/each}}

                    <div class="section">
                        <!-- Modal Trigger -->
                        <p class="center-align">
                            <a class="waves-effect waves-light btn" id="submit_exam">Submit Exam</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {{/with}}
</template>
