<template name="search">
    <div class="row">
        {{#ifEsInputIsEmpty index="knowledge" }}
            <h4>Browse all Concepts and Units</h4>{{/ifEsInputIsEmpty}}
        {{#ifEsInputIsEmpty index="knowledge" }}
            <div class="collection z-depth-1">
                {{#each knowledge}}
                    {{#if isConcept}}{{> conceptCard}}{{/if}}
                    {{#if isUnit}}{{> unitCard}}{{/if}}
                {{/each}}
            </div>
        {{/ifEsInputIsEmpty}}
        <div class="col s2">
            <div class="toc-wrapper">
                <div class="section">
                    <ul>
                        <li><a class="btn-flat cyan lighten-2" id="searchBoth"><i class="material-icons left"></i><span class="ti-search"></span> Both</a></li>
                        <li><a class="btn-flat grey-text" id="searchUnits"><i class="material-icons left"></i><span class="ti-book"></span> Units</a></li>
                        <li><a class="btn-flat grey-text" id="searchConcepts"><i class="material-icons left"></i><span class="ti-light-bulb"></span> Concepts</a></li>
                    </ul>
                </div>
                <div class="divider"></div>
                <h6 class="grey-text">Filter results</h6>
            </div>
        </div>
        <div class="col s10">
            <div class="collection z-depth-1">
                {{#esEach index="knowledge" }}
                    {{#if isConcept}}{{> conceptCard}}{{/if}}
                    {{#if isUnit}}{{> unitCard}}{{/if}}
                {{/esEach}} {{> esLoadMoreButton index="knowledge"}}
            </div>
            {{#ifEsHasNoResults index="knowledge" }}
                <div class="no-results">No results found!</div>
            {{/ifEsHasNoResults}}
        </div>
        {{#ifEsIsSearching index="knowledge" }}
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        {{/ifEsIsSearching}}
    </div>
</template>
