<template name="conceptPage">
    <div class="container">
        <div class="row center-align">
            <h4>{{name}}</h4>
            <h5 class="grey-text">{{state}}</h5>
            <h5 class="grey-text">{{description}}</h5>
        </div>
        <div class="row">
            <h5>Learn by doing these units:</h5>
            <div class="collection z-depth-1">
                {{#each grantedUnit}}
                    {{> unitCard}}
                {{/each}}
            </div>
        </div>
        <div class="row">
            <h5>Leads to:</h5>
            <div class="collection z-depth-1">
                {{#each requiredUnit}}
                    {{> unitCard}}
                {{/each}}
            </div>
        </div>
    </div>
</template>
