<template name="conceptPage">
    <div class="container">
        <div class="section">
            <div class="row center-align">
                <h5 class="grey-text"><span class="ti-light-bulb"></span> Concept</h5>
                <h3>{{name}}</h3>
                <h5 class="grey-text">{{description}}</h5>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <h4 class="center-align"><i class="square grey"><span class="ti-book"></span></i> Units</h4>
                <div class="col s6">
                    <h6>is taught by:</h6>
                    {{#unless grantedUnit.count}}
                        <p> No units teach this concept directly. Check child concepts below</p>
                    {{/unless}}
                    <div class="collection z-depth-1">
                        {{#each grantedUnit}}
                            {{> unitCard}}
                        {{/each}}
                    </div>
                </div>
                <div class="col s6">
                    <h6>opens up:</h6>
                    <div class="collection z-depth-1">
                        {{#each requiredUnit}}
                            {{> unitCard}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <h4 class="center-align"><i class="circle grey"><span class="ti-light-bulb"></span></i> Concepts</h4>
                <div class="col s6">
                    <h6>child concepts:</h6>
                    <div class="collection z-depth-1">
                        {{#each childConcepts}}
                            {{> conceptCard}}
                        {{/each}}
                    </div>
                </div>
                <div class="col s6">
                    <h6>parent concepts:</h6>
                    <div class="collection z-depth-1">
                        {{#each parentConcepts}}
                            {{> conceptCard}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
