
# Created by https://www.gitignore.io/api/meteorjs

### MeteorJS ###
# default meteor build and local packages
.meteor/local
node_modules/

# meteor settings file
settings.json

# node.js
node_modules/

# meteor build output files
*.tar.gz

# general swp files from vim
*.swp

# End of https://www.gitignore.io/api/meteorjs

# restricted files
.deploy/mup.js
