<template name="contentByTypeWrapper">
  {{#let isUnitPage=isUnitPage isExamPage=isExamPage unitId=unitId unitIsOneSectionAndNoExercise=unitIsOneSectionAndNoExercise}}
    {{#if isUnitPage}}
      {{#each content}}
        <div class="ui tab" data-tab="{{increaseByOne @index}}">
          <div class="ui hidden divider"></div>
          {{#unless unitIsOneSectionAndNoExercise}}
            <div class="tab-navigation">
              <div class="ui compact basic left floated segment tab-navigation-button">
                <button class="ui compact circular basic icon button {{isFirstTab (@index)}} previous-tab" current-tab={{increaseByOne @index}}>
                  <i class="white angle left icon {{isFirstTab (@index)}}" current-tab={{increaseByOne @index}}></i>
                </button>
              </div>
              <div class="ui compact basic right floated right aligned segment tab-navigation-button">
                <button class="ui compact circular basic icon button {{isLastTab (@index)}} next-tab" current-tab={{increaseByOne @index}}>
                  <i class="white angle right icon {{isLastTab (@index)}}" current-tab={{increaseByOne @index}}></i>
                </button>
              </div>
            </div>
            {{> contentByType unitId=unitId isUnitPage='true' subContent=subContent type=type evaluationType=evaluationType question=question answers=answers options=options}}
          {{/unless}}
        </div>
      {{/each }}
    {{/if}}
    {{#if isExamPage}}
      {{#each content}}
        {{> contentByType unitId=unitId isExamPage='true' subContent=subContent type=type evaluationType=evaluationType question=question answers=answers options=options}}
      {{/each }}
    {{/if}}
  {{/let}}
</template>

<template name="contentByType">
  {{#if isType 'unitSection'}}
    {{#each subContent}}
      {{#if isType 'text'}}
        {{#mathjax}}
          <p>
            {{#markdown}}{{text}}{{/markdown}}
          </p>
        {{/mathjax}}
      {{/if}}
      {{#if isType 'image'}}
        <img class="responsive-img" src="../images/units/{{imgURL}}">
      {{/if}}
      {{#if isType 'remoteImage'}}
        <img class="ui centered big fluid image" src="{{remoteImgURL}}">
      {{/if}}
      {{#if isType 'youtube'}}
        <div class="ui two column centered grid">
          <div class="column">
            <div class="ui centered embed" data-source="youtube" data-id="{{youtubeVidID}}"></div>
          </div>
        </div>
      {{/if}}
      <div class="ui hidden divider"></div>
    {{/each }}
  {{/if}}
  {{#if isType 'unitEvaluationSection'}}
    <div class="ui hidden divider"></div>
    {{#if evaluationIsType 'exerciseRadioButton'}}
      {{> exerciseRadioButton isUnitPage=isUnitPage isExamPage=isExamPage unitId=unitId question=question options=options}}
    {{/if}}
    {{#if evaluationIsType 'exerciseString'}}
      {{#if isUnitPage}}
        {{> exerciseString isUnitPage='true' unitId=unitId question=question answers=answers}}
      {{/if}}
      {{#if isExamPage}}
        {{> exerciseString isExamPage='true' unitId=unitId question=question answers=answers}}
        <!-- <div class="col s3">
            <a class="waves-effect waves-light btn tooltipped" data-position="top" data-tooltip="Mark question as known, without solving">
              <i class="material-icons">done</i>
            </a>
            <a class="waves-effect waves-light btn tooltipped" data-position="top" data-tooltip="Set question as goal">
              <i class="material-icons">navigation</i>
            </a>
          </div> -->
      {{/if}}
    {{/if}}
    {{#if evaluationIsType 'userConfirmation'}}
      {{#if isUnitPage}}
        {{> userConfirmation}}
      {{/if}}
    {{/if}}
    <div class="ui hidden divider" style="visibility: hidden;"></div>
  {{/if}}
</template>

<template name="exerciseString">
  <div class="ui center aligned grid">
    <div class="row">
      {{#mathjax}}
        <p>
          {{#markdown}}{{question}}{{/markdown}}
        </p>
      {{/mathjax}}
    </div>
    <div class="row">
      <div {{tooltipIfNoUser}}>
        <form class="ui form exerciseStringForm" id={{unitId}}>
          <div class="field {{disabledIfNoUser}}" id="exerciseStringField">
            {{#if isUnitPage}}
              <div class="ui action input">
                <input placeholder="Your answer here" type="text" name="exerciseString" id="exerciseInputText">
                <button class="ui button {{answerFeedback}} {{disabledIfNoUser}}" type="submit" id="exerciseButton">Submit</button>
              </div>
            {{/if}}
            {{#if isExamPage}}
              <div class="ui input">
                <input placeholder="Your answer here" type="text" name="exerciseString" id="exerciseInputText">
              </div>
            {{/if}}
          </div>
        </form>
      </div>
    </div>
    {{#if isLoading}}
      <div class="row center-align">
        {{> smallLoading}}
      </div>
    {{/if}}
  </div>
</template>
<template name="exerciseRadioButton">
  {{#if isUnitPage}}
    <div class="ui middle aligned two column relaxed grid">
      <div class="center aligned column">
        {{#mathjax}}
          <p>
            {{#markdown}}{{question}}{{/markdown}}
          </p>
        {{/mathjax}}
      </div>
      <div class="column">
        <div class="ui evaluation-font form">
          {{#let unitId=unitId}}
            {{#each options}}
              <div class="grouped fields">
                <div class="field">
                  <div class="ui evaluation-font radio {{disabledIfNoUser}} checkbox" {{tooltipIfNoUser}}>
                    <input name="{{unitId}}" type="radio" class="{{isCorrectOption}}RadioButton" unit_id="{{unitId}}">
                    <label class="{{isCorrectOption}}RadioButtonLabel">
                      {{#mathjax}}
                        {{label}}
                      {{/mathjax}}
                    </label>
                  </div>
                </div>
              </div>
            {{/each}}
          {{/let}}
        </div>
      </div>
    </div>
  {{/if}}
  {{#if isExamPage}}
  sdasdas
    {{#mathjax}}
      <p>
        {{#markdown}}{{question}}{{/markdown}}
      </p>
    {{/mathjax}}
    <div class="ui evaluation-font form">
      {{#let unitId=unitId}}
        {{#each options}}
          <div class="grouped fields">
            <div class="field">
              <div class="ui evaluation-font radio {{disabledIfNoUser}} checkbox" {{tooltipIfNoUser}}>
                <input name="{{unitId}}" type="radio" class="{{isCorrectOption}}RadioButton" unit_id="{{unitId}}">
                <label class="{{isCorrectOption}}RadioButtonLabel">
                  {{#mathjax}}
                    {{label}}
                  {{/mathjax}}
                </label>
              </div>
            </div>
          </div>
        {{/each}}
      {{/let}}
    </div>
  {{/if}}
  {{#if isLoading}}
    <div class="row center-align">
      {{> smallLoading}}
    </div>
  {{/if}}
</template>
<template name="userConfirmation">
  <div class="center aligned ui grid">
    {{#unless isLoading}}
      <div {{tooltipIfNoUser}}>
        <div class="ui buttons understood-buttons">
          <button class="ui {{disabledIfNoUser}} positive button" id="understood">Understood</button>
          <div class="or"></div>
          <button class="ui {{disabledIfNoUser}} negative button" id="notUnderstood">Not understood</button>
        </div>
      </div>
    {{else}}
      <div class="row center-align understood-buttons">
        {{> smallLoading}}
      </div>
    {{/unless}}
  </div>
</template>

<!-- <template name="contentByType_materialize">
  {{#let isUnitPage=isUnitPage isExamPage=isExamPage unitId=unitId}}

    {{#each content}}
      <div id="unitTab{{increaseByOne @index}}" class="col s12">
        {{#if isType 'unitSection'}}
          {{#each subContent}}
            {{#if isType 'text'}}
              {{#mathjax}}
                <p>
                  {{#markdown}}{{text}}{{/markdown}}
                </p>
              {{/mathjax}}
            {{/if}}
            {{#if isType 'image'}}
              <img class="responsive-img" src="../images/units/{{imgURL}}">
            {{/if}}
            {{#if isType 'remoteImage'}}
              <div class="section center-align">
                <img class="responsive-img" style="max-height: 300px;" src="{{remoteImgURL}}">
              </div>
            {{/if}}
            {{#if isType 'youtube'}}
              <div class="section">
                <div class="video-container no-controls">
                  <iframe width="853" height="480" margin-bottom="100" src="//www.youtube.com/embed/{{youtubeVidID}}?rel=0;autohide=1" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            {{/if}}
          {{/each }}
        {{/if}}
        {{#if isType 'unitEvaluationSection'}}
          {{#if evaluationIsType 'exerciseRadioButton'}}

            {{> exerciseRadioButton unitId=unitId question=question options=options}}
          {{/if}}
          {{#if evaluationIsType 'exerciseString'}}
            {{#if isUnitPage}}
              {{> exerciseString}}
              <div class="section center-align">
                <button class="btn waves-effect waves-light {{answerFeedback}}" type="submit" name="action" id="exerciseButton">Submit
                </button>
              </div>
            {{/if}}
            {{#if isExamPage}}
              <div class="row">
                <div class="col s9">
                  {{> exerciseString unitId=unitId question=question answers=answers}}
                </div>
                <div class="col s3">
                  <a class="waves-effect waves-light btn tooltipped" data-position="top" data-tooltip="Mark question as known, without solving">
                    <i class="material-icons">done</i>
                  </a>
                  <a class="waves-effect waves-light btn tooltipped" data-position="top" data-tooltip="Set question as goal">
                    <i class="material-icons">navigation</i>
                  </a>
                </div>
              </div>
            {{/if}}

          {{/if}}
          {{#if evaluationIsType 'userConfirmation'}}
            {{#if isUnitPage}}
              {{> userConfirmation}}
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
    {{/each }}
  {{/let}}
</template>
<template name="exerciseString">
  <div class="section center-align">
    {{#if currentUser}}
      {{#mathjax}}
        <p>
          {{#markdown}}{{question}}{{/markdown}}
        </p>
      {{/mathjax}}
      <form class="exerciseStringForm" id={{unitId}}>
        <input type="text" name="exerciseString" class="exerciseInputText">
      </form>
    {{else}}
      {{#mathjax}}
        <p>
          {{#markdown}}{{question}}{{/markdown}}
        </p>
      {{/mathjax}}
      <form class="exerciseStringForm" id={{unitId}}>
        <button class="btn waves-effect waves-light {{answerFeedback}} disabled disabled tooltipped" data-position="right" data-delay="20" data-tooltip="Login so we can follow your progress!" type="submit" name="action" id="exerciseButton">Submit</button>
      </form>
    {{/if}}
    {{#if isLoading}}
      <div class="row center-align">
        {{> smallLoading}}
      </div>
    {{/if}}
  </div>
</template>
<template name="exerciseRadioButton">
  {{#mathjax}}

          {{#markdown}}<p class="section center-align">{{question}}</p>{{/markdown}}

  {{/mathjax}}
  <form id="exerciseRadioButtonForm" action="#">
    {{#if currentUser}}
      {{#let unitId=unitId}}
        {{#each options}}
          <p class="center-align">
            <input name={{unitId}} class="{{isCorrectOption}}RadioButton" type="radio" id="radioButton_{{unitId}}_{{@index}}" unit_id="{{unitId}}"/>
            <label for="radioButton_{{unitId}}_{{@index}}" class="{{isCorrectOption}}RadioButtonLabel">{{#mathjax}}{{#markdown}}{{label}}{{/markdown}}{{/mathjax}}</label>
          </p>
        {{/each}}
      {{/let}}
    {{else}}
      {{#each options}}
        <p class="center-align tooltipped" data-position="bottom" data-delay="20" data-tooltip="Login so we can follow your progress!">
          <input name="group1" class="{{isCorrectOption}}RadioButton" disabled="disabled" type="radio" id="radioButton{{@index}}"/>
          <label for="radioButton{{@index}}" class="{{isCorrectOption}}RadioButtonLabel">{{#mathjax}}{{#markdown}}{{label}}{{/markdown}}{{/mathjax}}</label>
        </p>
      {{/each}}
    {{/if}}
    {{#if isLoading}}
      <div class="row center-align">
        {{> smallLoading}}
      </div>
    {{/if}}
  </form>
</template> -->
