<template name="goalPage">
  <div class="container">
    <div class="card">
      <div class="row center-align">
        <div class="section">
          <h3>Goal:
            <a>{{name}}</a>
          </h3>
          <h4>Approximately
            <a>{{conceptCount}} Concepts</a>
            to go</h4>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row center-align">
        <div class="section">
          <h4>Choose from one of these recommended lessons to get to your goal</h4>
        </div>
        <div class="row">
          <div class="col s6 offset-s3">
            <div class="collection">
              {{#each units}}
                {{> unitCard}}
              {{/each}}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
