<template name="home_new">
    <div class="container">
        {{#if currentUser}}
            {{> currentUserHome_new}}
        {{else}}
            <div class="row">
                <div class="section">
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                </div>
            </div>
        {{/if}}
    </div>
</template>
<template name="currentUserHome_new"></template>
<template name="examCard">
    <div class="card">
        <div class="card-image">
            <img src="https://eebatou.files.wordpress.com/2011/10/particle-physics.jpg">
            <span class="card-title">Particle Physics I</span>
        </div>
        <div class="card-content">
            <p>Instituto Superior Técnico</p>
            <p>2014 - Winter Semester</p>
            <p>Prof. Zé Maria</p>
        </div>
        <div class="card-action">
            <a href="{{ pathFor 'exam' }}">Get ready for this test</a>
        </div>
    </div>
</template>
