<template name="home_new">
    <div class="container">
        {{#if currentUser}}
            {{> currentUserHome_new}}
        {{else}}
            <div class="row">
                <div class="section">
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                    <div class="col s3">{{> examCard}}</div>
                </div>
            </div>
        {{/if}}
    </div>
</template>
<template name="currentUserHome_new"></template>
