<template name="unitPage">
  {{#with contentPage}}
    <div class="main-unit-content">
      <div class="ui segment">
        {{> unitContent}}
      </div>
    </div>
    {{> unitInfoBar}}
  {{/with}}
</template>
<template name="unitInfoBar">
  <div class="ui bottom borderless unit sidebar {{bottomPaddingIfGoalBar}} visible">
    <div class="ui unit container">
      <div class="ui segment">
        <div class="ui basic right floated segment">
          {{#if isGodMode}}
            <a class="ui right floated button" href="/content/{{_id}}/edit">edit</a>
          {{/if}}
        </div>
        <div class="ui unit header">{{name}}
          <div class="sub header">
            {{#each author in authorsInfo (authors)}}
              {{author.username}}
            {{/each}}
            |
            {{readableDate created_on}}
          </div>
        </div>
        <div class="ui fitted divider"></div>
        <p>{{description}}</p>
        <p class="ui tiny label">
          <i class="world icon"></i>{{unitLanguageName}}</p>
      </div>
    </div>
  </div>
</template>
<template name="unitContent">
  {{#unless failedUnitAndNoGoal}}
    {{#if unitIsOneSectionAndNoExercise}}
      {{> contentByType isUnitPage=true content=content}}
      {{> userConfirmation}}
      <div class="ui hidden divider"></div>
    {{else}}
      <div class="ui pointing secondary {{numberOfSections}} item unit-tabs menu">
        {{#each content}}
          {{#if isType 'unitSection'}}
            <a class="item" data-tab="{{increaseByOne @index}}">Part
              {{increaseByOne @index}}</a>
          {{/if}}
          {{#if isType 'unitEvaluationSection'}}
            <a class="item" data-tab="{{increaseByOne @index}}">Evaluation</a>
          {{/if}}
        {{/each }}
      </div>
      <div class="unit-content">
        {{> contentByType isUnitPage=true content=content}}
      </div>
    {{/if}}
  {{else}}
    <div class="center aligned ui grid">
      <div class="row">
        <p>It seems you were not ready for this content.</p>
      </div>
      <div class="row">
        {{#unless isLoading}}
          <div class="ui primary tiny button set-goal">
            Set Unit as goal
            <i class="right location arrow icon"></i>
          </div>
        {{else}}
          {{> smallLoading}}
        {{/unless}}
      </div>
    </div>
  {{/unless}}
</template>

<template name="relatedConcepts">
  <div class="card-action">
    <div class="row ">
      <div class="col s1">
        <i class="right small mdi-action-exit-to-app"></i>
      </div>
      <div class="col s5">
        <span class="grey-text text-darken-2">You should be familiar with:</span>
        <br>
        {{#each setOfConceptsID in neededConcepts}}
          {{#each concept in subConceptsOf (setOfConceptsID)}}
            <a>{{concept.name}}</a>
          {{/each}}
          <br>
          or
        {{/each}}
      </div>
      <div class="col s1">
        <i class="right small mdi-action-exit-to-app"></i>
      </div>
      <div class="col s5">
        <span class="grey-text text-darken-2">This unit helps you master:</span>
        <br>
        {{#each concept in grantedConcepts}}
          <!-- <a href="../concept/{{concept._id}}">{{concept.name}}</a> -->
          <a>{{concept.name}}</a>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<!-- <template name="unitPage">
  <div class="template-unitPage">
    {{#with contentPage}}
      {{> unitContent}}
      {{> relatedConcepts grantedConcepts=grantedConcepts neededConcepts=neededConcepts }}
      <div class="card-panel">
        <div class="row no-margin">
          <div class="col s10">
            <h3>{{name}}</h3>
            <p><span class="grey-text">
                <p>by
                  {{#each author in authorsInfo (authors)}}
                    {{author.username}}
                  {{/each}}
                </p>
                <p>
                  {{readableDate created_on}}
                </p>
              </span>
            </p>
          </div>
          <div class="col s2 right-align">
            {{#if isGodMode}}
              <a class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-delay="1" data-tooltip="Edit this unit." href="{{_id}}/edit">
                <i class="material-icons">create</i>
              </a>
            {{else}}

            {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h6 class="grey-text">
              <span class="tooltipped" data-position="top" data-delay="1" data-tooltip="{{views}} people have done this lesson">
                <i class="tiny material-icons data-icons ">done</i>
                {{views}}</span>
            </h6>
            <p class="pre">{{description}}</p>
          </div>
        </div>
      </div>
{{/with}}
</div>
</template>
<template name="unitContent">
<div class="card-content">
{{#unless failedUnitAndNoGoal}}
  {{#if unitIsOneSectionAndNoExercise}}
    {{> contentByType isUnitPage=true content=content}}
  {{else}}
    <div class="unit-tabs">
      <div class="row">
        <ul class="tabs">
          {{#each content}}
            {{#if isType 'unitSection'}}
              <li class="tab col s2">
                <a href="#unitTab{{increaseByOne @index}}">Part
                  {{increaseByOne @index}}</a>
              </li>
            {{/if}}
            {{#if isType 'unitEvaluationSection'}}
              <li class="tab col s2">
                <a href="#unitTab{{increaseByOne @index}}">Evaluation</a>
              </li>
            {{/if}}
          {{/each }}
        </ul>
      </div>
    </div>
    <div class="unit-content">
      <div class="section">
        {{> contentByType isUnitPage=true content=content}}
      </div>
    </div>
  {{/if}}
{{else}}
  <div class="row center-align">
    <div class="section">
      <p>Do you want to be able to understand it? You can create your own path towards
        {{name}}
      </p>
    </div>
    <div class="section">
      {{#unless isLoading}}
        <a class="waves-effect waves-teal btn set-goal">
          <i class="material-icons left">explore</i>Set this Unit as a learning goal</a>
      {{else}}
        {{> smallLoading}}
      {{/unless}}
    </div>
  </div>
{{/unless}}
</div>
</template>

<template name="userConfirmation">
<div class="section">
{{#unless isLoading}}
  {{#if currentUser}}

    <div class="row center-align understood-buttons">
      <a href="#!" class="waves-effect waves-light white-text green btn" id="understood">I understood</a>
      <a href="#!" class="waves-effect waves-light white-text red btn" id="notUnderstood">Didn't understand</a>
    </div>
  {{else}}
    <div class="row center-align understood-buttons">
      <a href="#!" class="white-text green btn disabled tooltipped" data-position="right" data-delay="20" data-tooltip="Login so we can follow your progress!">I understood</a>
      <a href="#!" class="white-text green btn disabled tooltipped" data-position="right" data-delay="20" data-tooltip="Login so we can follow your progress!">Didn't understand</a>
    </div>
  {{/if}}
{{else}}
  <div class="row center-align understood-buttons">
    {{> smallLoading}}
  </div>
{{/unless}}
</div>
</template>
<template name="relatedConcepts">
<div class="card-action">
<div class="row ">
  <div class="col s1">
    <i class="right small mdi-action-exit-to-app"></i>
  </div>
  <div class="col s5">
    <span class="grey-text text-darken-2">You should be familiar with:</span>
    <br>
    {{#each setOfConceptsID in neededConcepts}}
      {{#each concept in subConceptsOf (setOfConceptsID)}}
        <a>{{concept.name}}</a>
      {{/each}}
      <br>
      or
    {{/each}}
  </div>
  <div class="col s1">
    <i class="right small mdi-action-exit-to-app"></i>
  </div>
  <div class="col s5">
    <span class="grey-text text-darken-2">This unit helps you master:</span>
    <br>
    {{#each concept in grantedConcepts}}
      <a>{{concept.name}}</a>
    {{/each}}
  </div>
</div>
</div>
</template> -->
