<template name="unitPage">
    <div class="template-unitPage">
        <div class="container">
            <div class="card">
                {{#if doingExercise}}
                    {{> unitContent}}
                {{/if}}
                {{#if learning}}
                    {{> propagatingKnowledge}}
                {{/if}}
                {{#if learned}}
                    {{>learnedResults learnedConcept=learnedConcept}}
                {{/if}}
                {{#if unlearned}}
                    {{>unlearnedResults unlearnedConcept=unlearnedConcept}}
                {{/if}}
                {{> relatedConcepts grantedConcepts=grantedConcepts requiredConcepts=requiredConcepts }}
            </div>
            <div class="card-panel">
                <div class="row">
                    <h3>{{name}}</h3>
                    <p><img src="../images/avatars/deslingo.jpg" alt=" " class="circle responsive-img" id="avatar-thumbnail"><span class="grey-text"> by {{nameOf authors}}</span></p>
                    <h6 class="grey-text"><span class="tooltipped" data-position="top" data-delay="1" data-tooltip="{{views}} people have done this lesson"><i class="tiny material-icons data-icons ">done</i> {{views}}</span></h6>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
    </div>
</template>
<template name="unitContent">
    <div class="card-content">
        <div class="unit-content">
            <div class="row">
                <div class="col s8 offset-s2 center-align">
                    {{#each content }}
                        {{#if isType 'exerciseString'}}
                            {{> stringExercise}}
                        {{/if}}
                        {{#if isType 'explanation'}}
                            {{> explanation}}
                        {{/if}}
                    {{/each }}
                </div>
            </div>
        </div>
    </div>
</template>
<template name="stringExercise">
    <div class="section">
        <h4>{{{question}}}</h4>
        <form>
            <input type="text" name="exerciseString" id="exerciseInputText">
            <button class="btn waves-effect waves-light {{answerFeedback}}" type="submit" name="action" id="exerciseButton">Submit
            </button>
        </form>
    </div>
</template>
<template name="explanation">
    {{#each subContent}}
        <div class="subContent">
            {{#if isType 'text'}}
                <p class="flow-text">{{{text}}}</p>
            {{/if}}
            {{#if isType 'image'}}
                <img class="responsive-img" src="../images/units/{{imgURL}}">
            {{/if}}
            {{#if isType 'youtube'}}
                <div class="video-container no-controls">
                    <iframe width="853" height="480" margin-bottom="100" src="//www.youtube.com/embed/{{youtubeVidID}}?rel=0;autohide=1" frameborder="0" allowfullscreen></iframe>
                </div>
            {{/if}}
        </div>
    {{/each }}
    {{#if currentUser}}
        <div class="row center-align understood-buttons">
            <a href="#!" class="waves-effect waves-light white-text green btn" id="understood">I understood</a>
            <a href="#!" class="waves-effect waves-light white-text red btn" id="notUnderstood">I didn't understand</a>
        </div>
    {{else}}
        <div class="row center-align understood-buttons">
            <a href="#!" class="white-text green btn disabled tooltipped" data-position="bottom" data-delay="20" data-tooltip="Register so we can follow your progress!">Gots it!</a>
            <a href="#!" class="white-text green btn disabled tooltipped" data-position="bottom" data-delay="20" data-tooltip="Register so we can follow your progress!">Nots it!</a>
        </div>
    {{/if}}
</template>
<template name="relatedConcepts">
    <div class="card-action">
        <div class="row ">
            <div class="col s1">
                <i class="right small mdi-action-exit-to-app"></i>
            </div>
            <div class="col s5">
                <span class="grey-text text-darken-2">You should be familiar with:</span>
                <br>
                {{#each requiredConcepts}}
                    <a href="../concept/{{name}}">{{name}}</a>
                    <br>
                {{/each}}
            </div>
            <div class="col s1">
                <i class="right small mdi-action-exit-to-app"></i>
            </div>
            <div class="col s5">
                <span class="grey-text text-darken-2">This unit helps you master:</span>
                <br>
                {{#each grantedConcepts}}
                    <a href="../concept/{{name}}">{{name}}</a>
                    <br>
                {{/each}}
            </div>
        </div>
    </div>
</template>
<template name="propagatingKnowledge">
    <div class="row center-align">
        <div class="section">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h4>We are propagating your knowledge</h4>
        </div>
    </div>
</template>
<template name="learnedResults">
    <div class="row center-align">
        <div class="section">
            <h5>Congraulations! You have learnt</h5>
            <div class="row">
                <div class="col s4 offset-s4">
                    {{#each learnedConcept}}
                        <a href="../concept/{{name}}">{{name}}</a>
                        <br>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="section">
            <h5>Why don't you try one of this units next</h5>
            <div class="row">
                <div class="col s6 offset-s3">
                    {{> unitSuggestions}}
                </div>
            </div>
        </div>
    </div>
</template>
<template name="unlearnedResults">
    <div class="row center-align">
        <div class="section">
            <h5>These concepts have been deactivated, but don't worry!</h5>
            <div class="row">
                <div class="col s4 offset-s4">
                    {{#each unlearnedConcept}}
                        <a href="../concept/{{name}}">{{name}}</a>
                        <br>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="section">
            <h5>Why don't you try one of this units next</h5>
            <div class="row">
                <div class="col s6 offset-s3">
                    {{> unitSuggestions}}
                </div>
            </div>
        </div>
    </div>
</template>
