<template name="_header">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper cyan">
                <div class="container">
                    <div class="row">
                        <div class="col s3">
                            <a class="brand-logo" href="{{pathFor 'home'}}">Pointsquare<sub><small> αlpha2</small></sub></a>
                        </div>
                        <div class="col s6">
                            adsdas
                        </div>
                        <ul class="right">
                            {{#if currentUser}}
                                <li><a href="{{ pathFor 'dashboard' }}">Hi {{currentUser.username}}</a></li>
                                <li><a href="#" data-action="logout">Sign Out</a></li>
                            {{else}}
                                <li>
                                    <a href="{{ pathFor 'atSignIn' }}">Sign in</a>
                                </li>
                            {{/if}}
                        </ul>
                        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <ul id="nav-mobile" class="side-nav">
        <li class="bold {{ isActiveRoute regex='home' }}"><a href="{{ pathFor 'home' }}" title="Home"><i class="mdi-action-home"></i> Home</a></li>
    </ul>
</template>
