<template name="_sidebarUserButtons">
    <ul>
        <li>
            <a class="modal-trigger btn-floating btn-large cyan btn tooltipped" data-position="right" data-delay="20" data-tooltip="Send us your feedback!" data-target="feedbackModal">
                <i class="material-icons">feedback</i></a>
        </li>
        <li>
            <button class="modal-trigger btn-floating btn-large red lighten-2 btn tooltipped" data-position="right" data-delay="20" data-tooltip="Reset your user knowledge (testing purposes)" data-target="resetModal">
                <i class="material-icons">delete</i></button>
        </li>
    </ul>
</template>
