<template name="_sidebar">
    <div id="feedbackModal" class="modal">
        {{> feedbackModal}}
    </div>
    <div id="resetModal" class="modal">
        {{> resetModal}}
    </div>
    <div class="sidebar">
        {{#if currentUser}}
            {{> _sidebarUserButtons}}
        {{else}}
            <ul>
                <li>
                    <a class="modal-trigger btn-floating btn-large green btn tooltipped" data-position="right" data-delay="20" data-tooltip="Register!" href="{{ pathFor 'atSignUp' }}">
                        <i class="material-icons">person_add</i>
                    </a>
                </li>
            </ul>
        {{/if}}
    </div>
</template>
