<template name="mainLayout">
  {{#if isHome}}
    {{>Template.dynamic template=main}}
  {{else}}
    {{> _header}}
    <div class="pusher">
      <div class="ui white main container {{bottomPaddingIfGoalBar}}">
        {{>Template.dynamic template=main}}
      </div>
    </div>
  {{/if}}
  {{> feedbackModal}}  
  {{> goalReachedModal}}
  {{#if goalExists}}
    {{#if goalIsCompleted}}
      {{> goalReachedModal}}
    {{else}}
      {{#transition wrap="true" in="slideInUp" out="slideOutDown"}}
        {{> goalBar}}
      {{/transition}}
    {{/if}}
  {{/if}}
</template>
