<template name="home">
    <div class="container">
        {{#if currentUser}}
            <div class="section">
                <div class="card">
                    <div class="row center-align">
                        <div class="section">
                            <h4>Welcome, {{currentUser.username}}</h4>
                        </div>
                        <div class="col s5 right-align"><a class="waves-effect waves-light btn cyan" href="{{ pathFor 'dashboard' }}"><i class="material-icons left">person</i>Go to your dashboard</a></div>
                        <div class="col s2"> or </div>
                        <div class="col s5 left-align"><a class="waves-effect waves-light btn cyan" href="{{ pathFor 'search' }}"><i class="material-icons left">search</i>Search for content</a></div>
                    </div>
                </div>
            </div>
            <div class="section">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active">
                            <i class="material-icons">place</i>Welcome to Pointsquare</div>
                        <div class="collapsible-body">
                            <p>This website is underconstruction. We've invited you here to help us design it. Your feedback is very valuable and it has and will continue to guide the development. You can be as harsh or as flattering as you need be, just use the little button on the left to send us a message. However, we would kindly ask you to refrain yourself from divulging this website, since it is far from completed and has a few security flaws. Do not insert any important information here, credit card numbers, real passwords. If you do, we know where you live. Have fun. Unless you're a hacker, in which case... would you consider working for us?</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">info_outline</i>Guide</div>
                        <div class="collapsible-body">
                            {{> introToUnitsAndConcepts}}
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>How can you help</div>
                        <div class="collapsible-body">
                            <p>feedback on the alpha</p>
                            <p>add content</p>
                            <p>help us look for grants</p>
                            <p>join us on facebook</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Disclaimer</div>
                        <div class="collapsible-body">
                            <p>Whe are NSA'ing you</p>
                        </div>
                    </li>
                </ul>
            </div>
        {{else}}
            {{> introToUnitsAndConcepts}}
            <div class="row center-align">
                <div class="section">
                    <a class="waves-effect waves-light btn-large green z-depth-5" href="{{ pathFor 'atSignUp' }}"><i class="material-icons left">person_add</i>Register to begin growing your knowledge!</a>
                </div>
            </div>
        {{/if}}
    </div>
</template>
