<template name="home">
    <div class="intro">
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <span class="white-text"><h4 class="header col s12 light">Learning is a journey. Where do you want to go?</h4></span>
                    </div>
                    <div class="row center">
                        <span class="white-text"><div class="input-field col s6 offset-s3">
                            {{> esInput index="knowledge" placeholder="Type here anything you want to learn" }}
                        </div></span>
                    </div>
                </div>
            </div>
            <div class="parallax"><img alt="journey img" src="../images/journey.jpg" style="display: block; transform: translate3d( -25%, 0px, 0px);"></div>
        </div>
    </div>
    <div class="row">
        <div class="section">
            <div class="container">
                {{> search}}
            </div>
        </div>
    </div>
</template>
