<template name="conceptEdit">
    {{#with conceptEditPage}}
        <div class="container">
            <div class="section">
                <h4>Editing <a href="../{{_id}}">{{name}}</a></h4>
                <p>If you have doubts, check out the Teaching with Pointsquare guide in the <a href="{{ pathFor 'home' }}" target="_blank">home</a> page</p>
                {{#autoForm schema=conceptEditSchema id="conceptEdit" resetOnSuccess=false }}
                    <fieldset>
                        {{!-- <legend>Contact Us</legend> --}}
                        <div class="card dropdown-overflow">
                            <div class="section">
                                <div class="container">
                                    <div class="section">
                                        {{!-- {{> afArrayField name="items" template='customArrayField'}}
                                        --}} <h3 class="center-align">Info</h3> {{> afQuickField name="name" value=name}} {{> afQuickField name="description" value= description}}
                                    </div>
                                    <div class="section">
                                        <div class="control-group">
                                            <label for="select-links">Needs:</label>
                                            <select id="select-links" placeholder="Select some concepts..."></select>
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="divider"></div>
                                        {{needs}}
                                        <h3 class="center-align">Child Concepts</h3> {{> afQuickField name="needs" value= needs}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-large">Submit</button>
                            <button id="deleteConcept" class="btn btn-primary btn-large red">Delete</button>
                            {{!-- <button href="#" class="btn btn-default btn-large disabled">Preview</button> --}}
                            {{!-- <button href="#" class="btn btn-default btn-large disabled">Preview</button> --}}
                        </div>
                    </fieldset>
                {{/autoForm}}
            </div>
        </div>
    {{/with}}
</template>
