<template name="conceptEdit">
    {{#with conceptEditPage}}
        <div class="container">
            <div class="section">
                <h4>Editing <a href="../{{_id}}">{{name}}</a></h4>
                <p>If you have doubts, check out the Teaching with Pointsquare guide in the <a href="{{ pathFor 'home' }}" target="_blank">home</a> page</p>
                {{#autoForm schema=conceptEditSchema id="conceptEdit" resetOnSuccess=false }}
                    <fieldset>
                        {{!-- <legend>Contact Us</legend> --}}
                        <div class="card dropdown-overflow">
                            <div class="section">
                                <div class="container">
                                    <div class="section">
                                        {{!-- {{> afArrayField name="items" template='customArrayField'}}
                                        --}} <h3 class="center-align">Info</h3> {{> afQuickField name="name" value=name}} {{> afQuickField name="description" value= description}}
                                    </div>
                                    <div class="section">
                                        <h3 class="center-align">Necessary Concepts</h3>
                                        {{#each needs}}
                                            {{>conceptEditSelectBox}}
                                        {{/each}}
                                        <a class='dropdown-button cyan-text right-align add-set' href='#!'><i class="material-icons tiny">add_circle_outline</i> set of concepts</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-large">Submit</button>
                            <button id="deleteConcept" class="btn btn-primary btn-large red">Delete</button>
                            {{!-- <button href="#" class="btn btn-default btn-large disabled">Preview</button> --}}
                            {{!-- <button href="#" class="btn btn-default btn-large disabled">Preview</button> --}}
                        </div>
                    </fieldset>
                {{/autoForm}}
            </div>
        </div>
    {{/with}}
</template>
<template name="conceptEditSelectBox">
    <div class="concept-set-edit">
        <label for="select-links">Set : {{_id}}</label>
        <i class="material-icons tiny valign right-align"><a  href='#!' class="cyan-text remove-set" id="remove-{{_id}}">clear</a></i>
        <select id= {{_id}} placeholder="Select some concepts...">
        </select>
    </div>
</template>
