<template name="setGoalButton">
  {{#unless disableSetGoal}}
    {{#if thisIsGoal}}
      <div class="ui primary tiny positive button start-learning">
        Start learning
        <i class="right play icon"></i>
      </div>
    {{else}}
      {{#if goalAlreadyReached state}}
        {{#if isUnit}}
          <div class="ui disabled tiny button">
            Ready for unit
          </div>
        {{/if}}
        {{#if isConcept}}
          <div class="ui disabled tiny button">
            Known concept
          </div>
        {{/if}}
        {{#if isExam}}
          <div class="ui disabled tiny button">
            Ready for exam
          </div>
        {{/if}}
      {{else}}
        {{#unless isLoading}}
          <div class="ui primary tiny button set-goal">
            Set as learning goal
            <i class="right location arrow icon"></i>
          </div>
        {{else}}
          {{> smallLoading}}
        {{/unless}}
      {{/if}}
    {{/if}}
  {{/unless}}
</template>

<!-- <template name="setGoalButton_materialize">
  {{#unless disableSetGoal}}
    {{#unless goalAlreadyReached state}}
      <div class="col s6">
        <div class="right">
          {{#if thisIsGoal}}
            <a class="waves-effect waves-teal btn start-learning">
              <i class="material-icons left">explore</i>Start learning</a>
          {{else}}
            <a class="waves-effect waves-teal btn set-goal">
              <i class="material-icons left">explore</i>Set as goal</a>
          {{/if}}
        </div>
      </div>
    {{else}}
      <div class="col s6">
        <div class="right">
          <a class="waves-effect waves-teal btn disabled">
            You know this</a>
        </div>
      </div>
    {{/unless}}
  {{/unless}}
</template> -->
