<template name="goalBar">
  <div class="navbar-fixed bottom-goalbar grey lighten-2">
    <nav class="grey lighten-2">
      <div class="nav-wrapper grey lighten-2">
        <div class="row">
          <div class="col s3">
            {{#unless goalIsCompleted}}
              <a class="waves-effect waves-light btn-flat red-text" id="remove_goal">
                <i class="material-icons left">delete</i>reset goal</a>
            {{/unless}}
          </div>
          <div class="col s6">
            <h4 class="center-align black-text">
              {{#if goalIsCompleted}}
                You have successfully learned
              {{else}}
                Studying for
              {{/if}}
              <!-- <a href="/{{goalType}}/{{goalId}}" class="blue-text">{{goalName}}</a> -->
              <strong>{{goalName}}</strong>
            </h4>
          </div>
          <div class="col s3">
            {{#unless goalIsCompleted}}
              <a class="waves-effect waves-teal btn next-unit right-align">
                {{#unless currentUnitIsOnPath}}
                  START LEARNING
                {{else}}
                  SKIP THIS UNIT
                {{/unless}}
              </a>
            {{/unless}}
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>
