<template name="goalBar">
  <div class="ui bottom demo borderless sidebar three item small menu overlay visible">
    <div class="item">
      {{#unless goalIsCompleted}}
        <div class="ui labeled icon button reset-goal">
          Reset goal
          <i class="delete icon"></i>
        </div>
      {{/unless}}
    </div>
    <div class="item">
      {{#if goalIsCompleted}}
        {{#if goalTypeIs 'concept'}}
          <h4 class="ui header">
            <div class="sub header">Good work! You have successfully learned</div>
            <div class="content">{{goalName}}</div>
          </h4>
        {{/if}}
        {{#if goalTypeIs 'content'}}
          <h4 class="ui header">
            <div class="sub header">Good work! You are now ready for</div>
            <div class="content">
              <a href="/{{goalType}}/{{goalId}}" class="reset-goal">{{goalName}}</a>
            </div>
          </h4>
        {{/if}}
        {{#if goalTypeIs 'exam'}}
          <h4 class="ui header">
            <div class="sub header">Good work! You are now ready for</div>
            <div class="content">
              <a href="/{{goalType}}/{{goalId}}" class="reset-goal">{{goalName}}</a>
            </div>
          </h4>
        {{/if}}
      {{else}}
        <h4 class="ui header">
          {{#if goalTypeIs 'concept'}}
            <i class="small idea icon"></i>
            <div class="content">
              {{goalName}}
            </div>
          {{/if}}
          {{#if goalTypeIs 'content'}}
            <a href="/content/{{goalId}}">
              <i class="book icon"></i>
              <div class="content">
                {{goalName}}
              </div>
            </a>
          {{/if}}
          {{#if goalTypeIs 'exam'}}
            <i class="write square icon"></i>
            <div class="content">
              <a href="/exam/{{goalId}}">{{goalName}}</a>
            </div>
          {{/if}}
          <div class="sub header">learning goal</div>
        </h4>
      {{/if}}
    </div>

    <div class="item">
      {{#unless goalIsCompleted}}
        {{#unless currentUnitIsOnPath}}
          <div class="ui primary positive button start-learning">
            Start learning
            <i class="right play icon"></i>
          </div>
        {{else}}
          <div class="ui right labeled icon button next-unit">
            Skip unit
            <i class="right forward icon"></i>
          </div>
        {{/unless}}
      {{else}}
        {{#if goalTypeIs 'concept'}}
          <a class="ui basic button reset-goal" href="{{pathFor 'search'}}">
            <i class="search icon"></i>
            Search new goal
          </a>
        {{else}}
          <a class="ui basic button reset-goal" href="/{{goalType}}/{{goalId}}">
            <i class="location arrow icon"></i>
            Go to goal
          </a>
        {{/if}}
      {{/unless}}
    </div>
  </div>
</template>

<!-- <template name="goalBar_materialize">
  <div class="navbar-fixed bottom-goalbar grey lighten-2">
    <nav class="grey lighten-2">
      <div class="nav-wrapper grey lighten-2">
        <div class="row">
          <div class="col s3">

            {{#unless goalIsCompleted}}
              <a class="waves-effect waves-light btn-flat red-text" id="remove_goal">
                <i class="material-icons left">delete</i>reset goal</a>
            {{/unless}}
          </div>
          <div class="col s6">
            <h4 class="center-align black-text">
              {{#if goalIsCompleted}}
                {{#if goalTypeIs 'concept'}}
                  Good work! You have successfully learned
                  <strong>{{goalName}}</strong>!
                {{/if}}
                {{#if goalTypeIs 'content'}}
                  Good work! You are now ready to do
                  <a href="/{{goalType}}/{{goalId}}" class="reset-goal blue-text">{{goalName}}</a>
                {{/if}}
                {{#if goalTypeIs 'exam'}}
                  Good work! You are now ready to do
                  <a href="/{{goalType}}/{{goalId}}" class="reset-goal blue-text">{{goalName}}</a>
                {{/if}}
              {{else}}
                Studying for
                <strong>{{goalName}}</strong>
              {{/if}}

            </h4>
          </div>
          {{#unless goalIsCompleted}}
            {{#unless currentUnitIsOnPath}}
              <div class="ui primary tiny positive button start-learning">
                Start learning
                <i class="right play icon"></i>
              </div>
            {{else}}
              <div class="ui primary tiny button next-unit">
                Skip unit
                <i class="right forward icon"></i>
              </div>
            {{/unless}}
          {{else}}
            {{#if goalTypeIs 'concept'}}
              <a href='{{pathFor ' search'}}' class="waves-effect waves-light btn-flat reset-goal">
                search a new goal</a>
            {{/if}}
          {{/unless}}
        </div>
      </div>
    </nav>
  </div>
</template> -->
