<template name="goalBar">
  <div class="ui bottom demo borderless sidebar three item small menu overlap visible">
    <div class="item">
      <div class="ui labeled icon button reset-goal">
        Reset goal
        <i class="delete icon"></i>
      </div>
    </div>
    <div class="item">
      <h4 class="ui header">
        {{#if goalTypeIs 'concept'}}
          <i class="small idea icon"></i>
          <div class="content">
            {{goalName}}
          </div>
        {{/if}}
        {{#if goalTypeIs 'content'}}
          <a href="/content/{{goalId}}">
            <i class="book icon"></i>
            <div class="content">
              {{goalName}}
            </div>
          </a>
        {{/if}}
        {{#if goalTypeIs 'exam'}}
          <i class="write square icon"></i>
          <div class="content">
            <a href="/exam/{{goalId}}">{{goalName}}</a>
          </div>
        {{/if}}
        <div class="sub header">learning goal</div>
      </h4>
    </div>
    <div class="item">
      {{#unless currentUnitIsOnPath}}
        <div class="ui primary positive button start-learning">
          Start learning
          <i class="right play icon"></i>
        </div>
      {{else}}
        <div class="ui right labeled icon button next-unit">
          Skip unit
          <i class="right forward icon"></i>
        </div>
      {{/unless}}
    </div>
  </div>
</template>
