<template name="createConcept">
    <div class="container">
        <div class="section">
            <h4>Create Concept</h4>
            <p>If you have doubts, check out the Teaching with Pointsquare guide in the <a href="{{ pathFor 'home' }}" target="_blank">home</a> page</p>
            {{#autoForm schema=createConceptSchema id="createConcept" resetOnSuccess=false}}
                <fieldset>
                    {{!-- <legend>Contact Us</legend> --}}
                    <div class="card dropdown-overflow">
                        <div class="section">
                            <div class="container">
                                <div class="section">
                                    {{!-- {{> afArrayField name="items" template='customArrayField'}}
                                    --}} <h4 class="center-align">Info</h4> {{> afQuickField name="name"}} {{> afQuickField name="description"}}
                                </div>
                                <div class="section">
                                    <div class="divider"></div>
                                    <h4 class="center-align">Concepts necessary to understand this concept</h4> {{> afQuickField name="needs"}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        {{#if submitting}}
                            {{> smallLoading}}
                        {{else}}
                            <button type="submit" class="btn btn-primary btn-large">Submit</button>
                            {{!-- <button href="#" class="btn btn-default btn-large disabled">Preview</button> --}}
                        {{/if}}
                    </div>
                </fieldset>
            {{/autoForm}}
        </div>
    </div>
</template>
