<template name="conceptCard">
    <div class="col s12 m3">
        <div class="card small">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../images/sample-1.jpg">
            </div>
            <div class="card-content activator">
                <span class="card-title activator grey-text text-darken-4">{{name}} - {{state}}<i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="../concept/{{name}}">Find related units!</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{name}} <i class="mdi-navigation-close right"></i></span>
                <p>More info about the concept</p>
                <p><a href="../concept/{{name}}">Find related units!</a></p>
            </div>
        </div>
    </div>
</template>
