<template name="conceptCard">
    <a href="../concept/{{escrid}}" class="collection-item black-text">
        <div class="row no-margin">
            <div class="col m2 l1">
                <h5><i class="circle {{mapConceptStateToColor state}}"><span class="ti-light-bulb"></span></i></h5>
            </div>
            <div class="col s11">
                <span class="title"><h4>{{name}}</h4></span>
                <h6 class="grey-text">{{description}}</h6>
            </div>
            {{!-- <div class="col s2 center-align">
    <p class="grey-text">unlocks <strong>15</strong> units</p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Test
    </button>
</div>
<div class="col s2 center-align">
    <p class="grey-text">taught by <strong>30</strong> units</p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Learn
    </button>
</div>
 --}}
        </div>
    </a>
</template>
