<template name="dashboard">
    <div class="container">
        <div class="row center">
            <h4>{{currentUser.username}}</h4>
            <div class="divider"></div>
            <h3 class="cyan-text"><i class="material-icons">thumb_up</i> Awesomeness <i class="material-icons">thumb_up</i></h3>
            <div class="divider"></div>
            <h5>Soon enough you will be able to use this page to check out:</h5>
            <ul>
                <li>learning progress</li>
                <li>lessons you have created and how other people are using them</li>
                <li>activity from your friends</li>
                <li>visualization of your knowledge</li>
            </ul>
        </div>
    </div>
</template>
