<template name="dashboard">
  <div class="container">
    <div class="row center">
      <div class="section">
        <h4>Hi {{currentUser.username}}, this is your dashboard</h4>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="section">
        <h3 class="center-align">Units you have created</h3>
        <!--{{> unitsFromAuthor}}-->
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="section">
        <h3 class="center-align">Skills you know</h3>
        <!--{{> conceptsAcquired}}-->
      </div>
    </div>
  </div>
</template>
