<template name="dashboard">
    <div class="container">
        <div class="row center">
            <div class="section">
                <h4>{{currentUser.username}}, welcome to your dashboard</h4>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s6">
                <div class="section">
                    <h3 class="center-align">Content recommendations</h3>
                    <h5 class="grey-text center-align">easy for your to learn while teaching you new knowledge</h5> {{> unitSuggestions}}
                </div>
            </div>
            <div class="col s6">
                <div class="section">
                    <h3 class="center-align">Knowledge</h3>
                    <h5 class="grey-text center-align">all the concepts you currently master</h5> {{> conceptsAcquired}}
                </div>
            </div>
        </div>
    </div>
</template>
