<template name="create">
    <div class="container">
        <div class="section">
            <div class="card">
                <div class="row center-align">
                    <div class="section">
                        <div class="col s6">
                            <a class="waves-effect waves-light btn-large" href="{{ pathFor 'createUnit' }}"><span class="ti-book"></span> Create Unit</a>
                        </div>
                        <div class="col s6">
                            <a class="waves-effect waves-light btn-large" href="{{ pathFor 'createConcept' }}"><span class="ti-light-bulb"></span> Create Concept</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
